flows_raspberrypi.json
[{"id":"351c08c.4747ff8","type":"tab","label":"Measuring","disabled":false,"info":""},{"id":"5873dbc7.e32ddc","type":"tab","label":"Analisys","disabled":false,"info":""},{"id":"8ed25156.e8f81","type":"tab","label":"Signal from file","disabled":false,"info":""},{"id":"9ac9e272.2d76d","type":"tab","label":"Initialize and configuration","disabled":false,"info":""},{"id":"5130c2d5.7c6cac","type":"tab","label":"Signal generator","disabled":false,"info":""},{"id":"40991832.fc5a58","type":"subflow","name":"ADC","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"f87b3958.ed3108"}]}],"out":[{"x":620,"y":120,"wires":[{"id":"60bf6bb7.1f1acc","port":0},{"id":"b181196d.0a5c58","port":0},{"id":"ea6307f.36e2ef8","port":0},{"id":"bbecc352.29c2","port":0}]}],"env":[],"color":"#F3B567","inputLabels":["Vin"],"outputLabels":["AdcRawValue"],"icon":"font-awesome/fa-dashboard"},{"id":"b0ecbb89.e6e578","type":"subflow","name":"AlternateCurrent","info":"","category":"signals","in":[{"x":60,"y":80,"wires":[{"id":"afc18f3.2b71df"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"afc18f3.2b71df","port":0}]}],"env":[{"name":"A","type":"num","value":"1"},{"name":"phi","type":"num","value":"0"},{"name":"f","type":"num","value":"50"},{"name":"offset","type":"num","value":"0"}],"color":"#3FADB5","inputLabels":["Time"],"outputLabels":["Wave"],"icon":"font-awesome/fa-plug","status":{"x":340,"y":140,"wires":[{"id":"afc18f3.2b71df","port":1}]}},{"id":"47737c2a.b775ec","type":"subflow","name":"TimeSource","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"3e2e7e72.f80392"}]}],"out":[{"x":400,"y":60,"wires":[{"id":"3e2e7e72.f80392","port":0}]}],"env":[{"name":"T","type":"num","value":"0.0005"}],"color":"#E2D96E","inputLabels":["Freq In"],"outputLabels":["time signal out"],"icon":"font-awesome/fa-clock-o","status":{"x":700,"y":80,"wires":[{"id":"e8b5dec8.1748f","port":0}]}},{"id":"cdbeb3a4.9b1db","type":"subflow","name":"TimeControl","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"57eef2fe.ca5c14"}]}],"out":[{"x":680,"y":160,"wires":[{"id":"3e9fd93c.7b3dc6","port":0}]}],"env":[],"color":"#DDAA99","inputLabels":["Option"],"outputLabels":["Reset Signal"],"status":{"x":480,"y":80,"wires":[{"id":"c5b9b747.06004","port":0}]}},{"id":"bb053d41.584778","type":"subflow","name":"DirectCurrent","info":"","category":"signals","in":[{"x":60,"y":80,"wires":[{"id":"b889edf5.7d4b68"}]}],"out":[{"x":340,"y":60,"wires":[{"id":"b889edf5.7d4b68","port":0}]}],"env":[{"name":"offset","type":"num","value":"2"}],"color":"#3FADB5","inputLabels":["trigger"],"outputLabels":["value"],"icon":"font-awesome/fa-minus","status":{"x":340,"y":140,"wires":[{"id":"b889edf5.7d4b68","port":1}]}},{"id":"33574ed9.45d10a","type":"subflow","name":"WaveShapeControl","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"bca46f2.aa08f9"},{"id":"58ddfc.ab1d4a04"}]}],"out":[{"x":480,"y":140,"wires":[{"id":"bca46f2.aa08f9","port":0}]}],"env":[],"color":"#DDAA99","inputLabels":["Option"],"outputLabels":["Reset Signal"],"status":{"x":560,"y":80,"wires":[{"id":"8ba0d0e8.296dd","port":0}]}},{"id":"e93d095c.4de588","type":"subflow","name":"SquareWave","info":"","category":"signals","in":[{"x":60,"y":80,"wires":[{"id":"21e0ff0.dbf9182"}]}],"out":[{"x":360,"y":40,"wires":[{"id":"21e0ff0.dbf9182","port":0}]}],"env":[{"name":"min","type":"num","value":"0","ui":{"icon":"font-awesome/fa-sort-numeric-asc","label":{"en-US":"A min (V)"},"type":"spinner","opts":{}}},{"name":"max","type":"num","value":"2","ui":{"icon":"font-awesome/fa-sort-numeric-asc","label":{"en-US":"A max (V)"},"type":"spinner","opts":{"min":0}}},{"name":"Tup","type":"num","value":"50","ui":{"icon":"font-awesome/fa-percent","label":{"en-US":"T Up (%)"},"type":"spinner","opts":{"min":0,"max":100}}},{"name":"f","type":"num","value":"1","ui":{"icon":"font-awesome/fa-sort-numeric-asc","label":{"en-US":"f (Hz)"},"type":"spinner","opts":{"min":0}}}],"color":"#3FADB5","inputLabels":["trigger"],"outputLabels":["value"],"icon":"node-red/serial.svg","status":{"x":360,"y":100,"wires":[{"id":"21e0ff0.dbf9182","port":0}]}},{"id":"87c9568.e6db028","type":"subflow","name":"SawWave+","info":"","category":"signals","in":[{"x":60,"y":80,"wires":[{"id":"2cb9df76.f677e"}]}],"out":[{"x":320,"y":40,"wires":[{"id":"2cb9df76.f677e","port":0}]}],"env":[{"name":"f","type":"num","value":"1","ui":{"label":{"en-US":"freq (Hz)"},"type":"spinner"}},{"name":"Amax","type":"num","value":"2","ui":{"label":{"en-US":"A max"},"type":"spinner"}},{"name":"offset","type":"num","value":"1","ui":{"type":"spinner"}}],"color":"#3FADB5","inputLabels":["Time"],"outputLabels":["Wave"],"icon":"node-red/status.svg","status":{"x":320,"y":100,"wires":[{"id":"2cb9df76.f677e","port":1}]}},{"id":"960c4c5.8acd63","type":"subflow","name":"SawWave−","info":"","category":"signals","in":[{"x":60,"y":80,"wires":[{"id":"71836d55.b85a5c"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"71836d55.b85a5c","port":0}]}],"env":[{"name":"f","type":"num","value":"1","ui":{"label":{"en-US":"freq (Hz)"},"type":"spinner"}},{"name":"Amax","type":"num","value":"2","ui":{"label":{"en-US":"A max"},"type":"spinner"}},{"name":"offset","type":"num","value":"1","ui":{"label":{"en-US":"Offset"},"type":"spinner"}}],"color":"#3FADB5","inputLabels":["Time"],"outputLabels":["Wave"],"icon":"node-red/status.svg","status":{"x":340,"y":120,"wires":[{"id":"71836d55.b85a5c","port":1}]}},{"id":"4dabb83d.419318","type":"subflow","name":"GetCurrentValue","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"f578c051.21dc18"}]}],"out":[{"x":760,"y":120,"wires":[{"id":"f578c051.21dc18","port":0}]}],"env":[],"color":"#FFCC66","inputLabels":["Value"],"outputLabels":["ProcessedValue"],"icon":"node-red-dashboard/ui_gauge.png","status":{"x":760,"y":60,"wires":[{"id":"8c248ada.a471b","port":0}]}},{"id":"29204bfe.5021f4","type":"subflow","name":"ADC Config","info":"","category":"","in":[{"x":200,"y":80,"wires":[{"id":"5061e089.e052a"}]}],"out":[],"env":[{"name":"a","type":"num","value":"1280.5","ui":{"icon":"font-awesome/fa-line-chart","label":{"en-US":"A"},"type":"input","opts":{"types":["num"]}}},{"name":"b","type":"num","value":"9.9413","ui":{"icon":"font-awesome/fa-line-chart","label":{"en-US":"B"},"type":"input","opts":{"types":["num"]}}},{"name":"float_dec","type":"num","value":"2","ui":{"icon":"font-awesome/fa-asterisk","label":{"en-US":"Decimal places"},"type":"spinner","opts":{}}}],"color":"#FFCC66","inputLabels":["Trigger"],"icon":"node-red/cog.svg","status":{"x":840,"y":80,"wires":[{"id":"5061e089.e052a","port":0}]}},{"id":"b3e0ebcd.1462c8","type":"subflow","name":"FFT Properties","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"7592b8de.3601b8"}]}],"out":[],"env":[{"name":"SampleFreq","type":"num","value":"1000","ui":{"icon":"font-awesome/fa-history","label":{"en-US":"Sample frequency (Hz)"},"type":"input","opts":{"types":["num"]}}},{"name":"SampleNum","type":"num","value":"8000","ui":{"icon":"font-awesome/fa-database","label":{"en-US":"Number of samples"},"type":"input","opts":{"types":["num"]}}},{"name":"WaveZoom","type":"num","value":"1","ui":{"icon":"font-awesome/fa-search-plus","label":{"en-US":"Default zoom level"},"type":"input","opts":{"types":["num"]}}},{"name":"UseDb","type":"str","value":"true","ui":{"icon":"font-awesome/fa-bolt","label":{"en-US":"Frequency Units"},"type":"select","opts":{"opts":[{"l":{"en-US":"Hz"},"v":"false"},{"l":{"en-US":"dB"},"v":"true"}]}}}],"color":"#FFCC66","inputLabels":["Trigger"],"icon":"node-red/cog.svg","status":{"x":420,"y":80,"wires":[{"id":"7592b8de.3601b8","port":0}]}},{"id":"9931390c.6bcd08","type":"subflow","name":"Debug Properties","info":"","category":"","in":[{"x":120,"y":80,"wires":[{"id":"b28455ca.808008"}]}],"out":[],"env":[{"name":"DefaultSource","type":"str","value":"0","ui":{"icon":"font-awesome/fa-sign-in","label":{"en-US":"Default Source"},"type":"select","opts":{"opts":[{"l":{"en-US":"ESP32 ADC"},"v":"0"},{"l":{"en-US":"ESP32 Debug"},"v":"1"},{"l":{"en-US":"Signal Generator"},"v":"2"},{"l":{"en-US":"File"},"v":"3"}]}}},{"name":"Esp32Mode","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-asterisk","label":{"en-US":"Use Advanced Signal"},"type":"checkbox","opts":{}}}],"color":"#F3B567","inputLabels":["Trigger"],"icon":"node-red/cog.svg","status":{"x":440,"y":80,"wires":[{"id":"b28455ca.808008","port":0}]}},{"id":"ea64e243.fff82","type":"subflow","name":"File Settings","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"ef4593e0.57f9d"}]}],"out":[],"env":[{"name":"rDefaultPath","type":"str","value":"/home/pi/TFM/signals/sim_ir.txt","ui":{"label":{"en-US":"R Path"},"type":"input","opts":{"types":["str"]}}},{"name":"sDefaultPath","type":"str","value":"/home/pi/TFM/signals/sim_is.txt","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"tDefaultPath","type":"str","value":"/home/pi/TFM/signals/sim_it.txt","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"DefaultPhase","type":"str","value":"R","ui":{"label":{"en-US":"Default Phase"},"type":"select","opts":{"opts":[{"l":{"en-US":"R"},"v":"R"},{"l":{"en-US":"S"},"v":"S"},{"l":{"en-US":"T"},"v":"T"}]}}},{"name":"SimLength","type":"num","value":"8","ui":{"label":{"en-US":"Length of simulation (seconds)"},"type":"spinner","opts":{"min":1,"max":100}}},{"name":"RotatingSpeed","type":"num","value":"2871.2","ui":{"label":{"en-US":"Rotating speed"},"type":"input","opts":{"types":["num"]}}}],"color":"#FFCC66","icon":"node-red/cog.svg","status":{"x":340,"y":80,"wires":[{"id":"ef4593e0.57f9d","port":0}]}},{"id":"c92d6cc1.df2fd","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Blue","default":"#4B7930","baseColor":"#0c3d63","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#0c3d63","edited":true},"page-titlebar-backgroundColor":{"value":"#0c3d63","edited":false},"page-backgroundColor":{"value":"#061a29","edited":true},"page-sidebar-backgroundColor":{"value":"#0a5894","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#0a5894","edited":true},"group-backgroundColor":{"value":"#0c3d63","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#1b7dc8","edited":true},"widget-borderColor":{"value":"#061a29","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Induction Motor Diagnosis","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3f03b274.d44b26","type":"ui_tab","z":"","name":"Signal generator","icon":"flash_on","order":4,"disabled":false,"hidden":false},{"id":"6ae84b38.f5980c","type":"ui_tab","z":"","name":"Monitoring","icon":"memory","order":2,"disabled":false,"hidden":false},{"id":"9f066813.a7cf88","type":"ui_group","z":"","name":"Signal generator","tab":"3f03b274.d44b26","order":1,"disp":false,"width":12,"collapse":false},{"id":"75872a4e.4a96cc","type":"ui_group","z":"","name":"Overview","tab":"6ae84b38.f5980c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0442e5d.40bbd","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":7,"width":3,"height":1},{"id":"c1732f28.7552e8","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":9,"width":3,"height":1},{"id":"e2893c54.fda4a","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":10,"width":3,"height":1},{"id":"c69ef95c.0e02d8","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":11,"width":3,"height":1},{"id":"38228ec8.d6c6da","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":12,"width":3,"height":1},{"id":"a122676d.1d6148","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":13,"width":3,"height":1},{"id":"45faa30b.558574","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":14,"width":3,"height":1},{"id":"5785df8a.508e38","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":15,"width":3,"height":1},{"id":"8e5af2b7.af38d","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":16,"width":3,"height":1},{"id":"73fd4604.e66c68","type":"ui_spacer","name":"spacer","group":"9f066813.a7cf88","order":17,"width":3,"height":1},{"id":"b4d07d56.9cb5f8","type":"mqtt-broker","z":"","name":"RaspPi","broker":"http://192.168.1.55","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"799cb52e.753c64","type":"ui_tab","z":"","name":"Debug","icon":"fa-bug","order":5,"disabled":false,"hidden":false},{"id":"9275f3d1.7841c","type":"ui_group","z":"","name":"Signal sources","tab":"799cb52e.753c64","order":1,"disp":true,"width":"6","collapse":false},{"id":"21b66fa1.30165","type":"ui_group","z":"","name":"Signal from file","tab":"799cb52e.753c64","order":2,"disp":true,"width":"6","collapse":false},{"id":"afcfbd3a.9ebc5","type":"ui_tab","z":"","name":"Analisys","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"930a64ca.765228","type":"ui_group","z":"","name":"Wave analysis","tab":"afcfbd3a.9ebc5","order":1,"disp":true,"width":"20","collapse":false},{"id":"226c8cf5.d345a4","type":"ui_group","z":"","name":"Motor status","tab":"6ae84b38.f5980c","order":2,"disp":true,"width":"6","collapse":false},{"id":"942e178d.31f368","type":"ui_tab","z":"","name":"Welcome","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"e49d5127.e8b58","type":"ui_group","z":"","name":"Please wait...","tab":"942e178d.31f368","order":1,"disp":true,"width":"6","collapse":false},{"id":"f578c051.21dc18","type":"function","z":"4dabb83d.419318","name":"adcConvertion","func":"const a = global.get(\"adc_a\"), b = global.get(\"adc_b\"), dec =  global.get(\"adc_float\");\nlet realMsr = (msg.payload - b) / a;\nmsg.payload = Math.round(realMsr * Math.pow(10, dec)) / Math.pow(10, dec);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["8c248ada.a471b"]]},{"id":"60bf6bb7.1f1acc","type":"function","z":"40991832.fc5a58","name":"getAdcMeasureLin1","func":"const a = 1280.5, b = -9.9413;\nvar result = a * msg.payload + b;\nmsg.payload = Math.round(result);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[[]]},{"id":"f87b3958.ed3108","type":"switch","z":"40991832.fc5a58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"btwn","v":"0","vt":"num","v2":"2.6","v2t":"num"},{"t":"btwn","v":"2.6","vt":"num","v2":"3","v2t":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":190,"y":120,"wires":[["bbecc352.29c2"],["60bf6bb7.1f1acc"],["b181196d.0a5c58"],["ea6307f.36e2ef8"]]},{"id":"b181196d.0a5c58","type":"function","z":"40991832.fc5a58","name":"getAdcMeasureLin2","func":"const a = 1901.3, b = -1606;\nvar result = a * msg.payload + b;\nmsg.payload = Math.round(result);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[[]]},{"id":"67bf66b8.f6902","type":"subflow:40991832.fc5a58","z":"351c08c.4747ff8","name":"ADC Simulation","env":[],"x":340,"y":300,"wires":[["a5d4bb01.71a308"]],"inputLabels":["Vin"],"outputLabels":["AdcRawValue"]},{"id":"afc18f3.2b71df","type":"function","z":"b0ecbb89.e6e578","name":"AcFunct","func":"let time = global.get('time')||0;\nlet A = env.get('A');\nlet f = env.get('f');\nlet phi = env.get('phi');\nlet offset = env.get('offset');\nlet w = 2 * Math.PI * f;\nlet result = A * Math.sin(w * time + phi) + offset;\nmsg.payload = result;\nif (time <= global.get('T')) {\n    let status = { payload:`A: ${A}, f: ${f}, φ: ${phi}, offset: ${offset}` };\n    return [msg, status]\n}\nreturn msg;","outputs":2,"noerr":0,"x":200,"y":80,"wires":[[],[]],"inputLabels":["trigger"],"outputLabels":["value",""]},{"id":"3e2e7e72.f80392","type":"function","z":"47737c2a.b775ec","name":"timeSet","func":"global.set('T', env.get('T'));\nif (global.get('timeIsOn')) {\n    let time = global.get('time')||0;\n    time += global.get('T');\n    global.set('time', time);\n    let newTime = { payload: global.get('time') };\n    return newTime;\n}\n\nif (msg.payload === true) {\n    let time = global.get('time')||0;\n    let newTime = { payload: global.get('time') + global.get('T') };\n    return newTime;\n}","outputs":1,"noerr":0,"x":200,"y":60,"wires":[["61e2114a.b6e2e"]]},{"id":"bb9aa66c.11c4b8","type":"function","z":"cdbeb3a4.9b1db","name":"timeReset","func":"global.set('time', -global.get('T'));\nmsg.payload = \"Time reset\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["3e7b733e.340aac","3e9fd93c.7b3dc6"]]},{"id":"c5b9b747.06004","type":"function","z":"cdbeb3a4.9b1db","name":"timeStartStop","func":"let timeIsOn = global.get('timeIsOn')||false;\nif (timeIsOn === false) {\n    global.set('timeIsOn', true);\n    msg.payload = \"Time ON\";\n} else {\n    global.set('timeIsOn', false);\n    msg.payload = \"Time OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["3e7b733e.340aac","97fbc35.3a8f4c"]]},{"id":"3e7b733e.340aac","type":"debug","z":"cdbeb3a4.9b1db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":120,"wires":[]},{"id":"57eef2fe.ca5c14","type":"switch","z":"cdbeb3a4.9b1db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":100,"wires":[["c5b9b747.06004"],["bb9aa66c.11c4b8"]]},{"id":"8fb2ca9b.a854d","type":"subflow:b0ecbb89.e6e578","z":"5130c2d5.7c6cac","name":"","env":[{"name":"A","value":"2","type":"num"},{"name":"f","value":"2","type":"num"}],"x":830,"y":80,"wires":[["8446e39.44c21a"]],"inputLabels":["trigger"],"outputLabels":["value"]},{"id":"1e4b8cb6.f04a73","type":"inject","z":"5130c2d5.7c6cac","name":"Period","topic":"","payload":"false","payloadType":"bool","repeat":"0.005","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["4a0b6a79.8a8ab4"]]},{"id":"4a0b6a79.8a8ab4","type":"subflow:47737c2a.b775ec","z":"5130c2d5.7c6cac","name":"","env":[{"name":"T","value":"0.005","type":"num"}],"x":350,"y":180,"wires":[["8acdf864.62af88"]]},{"id":"beee3572.1c4cb8","type":"inject","z":"5130c2d5.7c6cac","name":"Start/Stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["56462540.99f444"]]},{"id":"bb262709.adcb98","type":"inject","z":"5130c2d5.7c6cac","name":"Reset","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":80,"wires":[["997aa986.13c658"]]},{"id":"c300c263.80c52","type":"subflow:cdbeb3a4.9b1db","z":"5130c2d5.7c6cac","name":"","env":[],"x":470,"y":80,"wires":[[]]},{"id":"8acdf864.62af88","type":"switch","z":"5130c2d5.7c6cac","name":"waveTypeSelector","property":"waveType","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":550,"y":180,"wires":[["5a69531e.3635ac"],["8fb2ca9b.a854d"],["1e5553cf.212aac"],["651f0027.5bfd1"],["193a3c73.a56f74"],["6121dee9.256c68"]],"inputLabels":["trigger"],"outputLabels":["DC","AC","Square","Ramp up","Ramp down",null]},{"id":"b889edf5.7d4b68","type":"function","z":"bb053d41.584778","name":"DcFunct","func":"let value = env.get(\"offset\");\nmsg.payload = value;\nif (global.get(\"time\") <= global.get('T')) {\n    let status = { payload:`offset: ${value}` };\n    return [msg, status]\n}\nreturn msg;","outputs":2,"noerr":0,"x":200,"y":80,"wires":[[],[]]},{"id":"5a69531e.3635ac","type":"subflow:bb053d41.584778","z":"5130c2d5.7c6cac","name":"","env":[{"name":"offset","value":"1.2","type":"num"}],"x":840,"y":20,"wires":[["8446e39.44c21a"]]},{"id":"58396b77.d97514","type":"inject","z":"5130c2d5.7c6cac","name":"DC Wave","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":100,"y":280,"wires":[["bd819eb3.194a4"]],"icon":"font-awesome/fa-minus"},{"id":"8930eeb6.cabf4","type":"inject","z":"5130c2d5.7c6cac","name":"AC Wave","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["bd819eb3.194a4"]],"icon":"font-awesome/fa-plug"},{"id":"8ba0d0e8.296dd","type":"function","z":"33574ed9.45d10a","name":"setWaveType","func":"let waveType = global.get('waveType')||0;\nglobal.set('waveType', msg.payload);\nwaveType = global.get('waveType');\nswitch (waveType) {\n    case 0: msg.payload = \"DC Wave\"; break;\n    case 1: msg.payload = \"AC Wave\"; break;\n    case 2: msg.payload = \"Square Wave\"; break;\n    case 3: msg.payload = \"Growing Saw Wave\"; break;\n    case 4: msg.payload = \"Reducing Saw Wave\"; break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[[]]},{"id":"bd819eb3.194a4","type":"subflow:33574ed9.45d10a","z":"5130c2d5.7c6cac","name":"","env":[],"x":430,"y":280,"wires":[[]]},{"id":"a6d68815.3d91","type":"inject","z":"5130c2d5.7c6cac","name":"Square Wave","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["bd819eb3.194a4"]],"icon":"node-red/serial.svg"},{"id":"56b105de.d5b0f4","type":"inject","z":"5130c2d5.7c6cac","name":"Growing Saw Wave","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["bd819eb3.194a4"]],"icon":"font-awesome/fa-level-up"},{"id":"cc6e90f5.3e5888","type":"inject","z":"5130c2d5.7c6cac","name":"Reducing Saw Wave","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["bd819eb3.194a4"]],"icon":"font-awesome/fa-minus"},{"id":"8446e39.44c21a","type":"link out","z":"5130c2d5.7c6cac","name":"SignalGenValue","links":["c240ec51.334648"],"x":1055,"y":180,"wires":[]},{"id":"c240ec51.334648","type":"link in","z":"351c08c.4747ff8","name":"SignalInput","links":["8446e39.44c21a"],"x":195,"y":340,"wires":[["1b913793.a11ac","67bf66b8.f6902","5e19c6b8.03f02"]]},{"id":"1b913793.a11ac","type":"debug","z":"351c08c.4747ff8","name":"DebugSignalValue","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":470,"y":340,"wires":[]},{"id":"21e0ff0.dbf9182","type":"function","z":"e93d095c.4de588","name":"SquareFunct","func":"let T = 1 / env.get(\"f\");\nlet nT = Math.floor(global.get(\"time\") / T);\nlet Tup = T * env.get(\"Tup\") / 100;\nlet Tstate = global.get(\"time\") - (nT * T);\nif (Tstate <= Tup) {\n    msg.payload = env.get(\"max\");\n} else {\n    msg.payload = env.get(\"min\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":80,"wires":[[]]},{"id":"1e5553cf.212aac","type":"subflow:e93d095c.4de588","z":"5130c2d5.7c6cac","name":"","env":[{"name":"f","value":"0.5","type":"num"}],"x":830,"y":140,"wires":[["8446e39.44c21a"]]},{"id":"e0ed4540.75a118","type":"inject","z":"5130c2d5.7c6cac","name":"ManualTrigger","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["4a0b6a79.8a8ab4"]]},{"id":"e8b5dec8.1748f","type":"template","z":"47737c2a.b775ec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} s","output":"str","x":580,"y":80,"wires":[[]]},{"id":"6621f16b.04aca","type":"delay","z":"5130c2d5.7c6cac","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":140,"wires":[["4a0b6a79.8a8ab4"]]},{"id":"61e2114a.b6e2e","type":"function","z":"47737c2a.b775ec","name":"roundFixTime","func":"let result = Math.round(msg.payload * 1000) / 1000;\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["e8b5dec8.1748f","8701575b.9754c"]]},{"id":"bca46f2.aa08f9","type":"function","z":"33574ed9.45d10a","name":"sendResetFlag","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[[]]},{"id":"3e9fd93c.7b3dc6","type":"function","z":"cdbeb3a4.9b1db","name":"sendResetFlag","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[[]]},{"id":"6121dee9.256c68","type":"link out","z":"5130c2d5.7c6cac","name":"To SignalFromFile","links":["b3269368.e8961"],"x":755,"y":320,"wires":[]},{"id":"b804b6d8.872848","type":"inject","z":"5130c2d5.7c6cac","name":"From file","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["bd819eb3.194a4"]]},{"id":"6a9f3901.4890d","type":"inject","z":"5130c2d5.7c6cac","name":"Default T","topic":"timestep","payload":"0.005","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":380,"y":440,"wires":[["3e3630ae.7fab28","52697597.37362c"]]},{"id":"52697597.37362c","type":"change","z":"5130c2d5.7c6cac","name":"","rules":[{"t":"set","p":"T","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"T","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":440,"wires":[["f749967c.fe9bc8"]]},{"id":"f749967c.fe9bc8","type":"debug","z":"5130c2d5.7c6cac","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":890,"y":440,"wires":[]},{"id":"fed63eec.74b9f8","type":"change","z":"cdbeb3a4.9b1db","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ESP32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":40,"wires":[["930e2433.46735"]]},{"id":"97fbc35.3a8f4c","type":"switch","z":"cdbeb3a4.9b1db","name":"","property":"timeIsOn","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":40,"wires":[["fed63eec.74b9f8"]]},{"id":"2cb9df76.f677e","type":"function","z":"87c9568.e6db028","name":"SawFunct","func":"let T = 1 / env.get(\"f\");\nlet nT = Math.floor(global.get(\"time\") / T);\nlet Tstate = global.get(\"time\") - (nT * T);\nlet Amax =  env.get(\"Amax\");\nlet offset =  env.get(\"offset\");\nmsg.payload = (Amax - offset) / T * Tstate + offset;\nif (global.get(\"time\") <= global.get('T')) {\n    let status = { payload:`A max: ${Amax}, T: ${T}, offset: ${offset}` };\n    return [msg, status]\n}\nreturn msg;","outputs":2,"noerr":0,"x":180,"y":80,"wires":[[],[]]},{"id":"651f0027.5bfd1","type":"subflow:87c9568.e6db028","z":"5130c2d5.7c6cac","name":"","env":[],"x":840,"y":200,"wires":[["8446e39.44c21a"]]},{"id":"71836d55.b85a5c","type":"function","z":"960c4c5.8acd63","name":"SawFunct","func":"let T = 1 / env.get(\"f\");\nlet nT = Math.floor(global.get(\"time\") / T);\nlet Tstate = global.get(\"time\") - (nT * T);\nlet Amax =  env.get(\"Amax\");\nlet offset =  env.get(\"offset\");\nmsg.payload = (offset - Amax) / T * Tstate + Amax;\nif (global.get(\"time\") <= global.get('T')) {\n    let status = { payload:`A max: ${Amax}, T: ${T}, offset: ${offset}` };\n    return [msg, status]\n}\nreturn msg;","outputs":2,"noerr":0,"x":200,"y":80,"wires":[[],[]]},{"id":"193a3c73.a56f74","type":"subflow:960c4c5.8acd63","z":"5130c2d5.7c6cac","name":"","env":[],"x":840,"y":260,"wires":[["8446e39.44c21a"]]},{"id":"ea6307f.36e2ef8","type":"change","z":"40991832.fc5a58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4095","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":180,"wires":[[]]},{"id":"bbecc352.29c2","type":"change","z":"40991832.fc5a58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":60,"wires":[[]]},{"id":"56462540.99f444","type":"ui_button","z":"5130c2d5.7c6cac","name":"","group":"9f066813.a7cf88","order":4,"width":3,"height":1,"passthru":true,"label":"Start / Stop","tooltip":"Start or stop the signal","color":"","bgcolor":"","icon":"av_timer","payload":"false","payloadType":"bool","topic":"","x":290,"y":40,"wires":[["c300c263.80c52"]]},{"id":"997aa986.13c658","type":"ui_button","z":"5130c2d5.7c6cac","name":"","group":"9f066813.a7cf88","order":5,"width":3,"height":1,"passthru":true,"label":"Reset","tooltip":"Resets time to 0","color":"","bgcolor":"","icon":"replay","payload":"true","payloadType":"bool","topic":"","x":210,"y":80,"wires":[["c300c263.80c52","6621f16b.04aca"]]},{"id":"3e3630ae.7fab28","type":"ui_numeric","z":"5130c2d5.7c6cac","name":"TimeStep","label":"Time step","tooltip":"Time step","group":"9f066813.a7cf88","order":2,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}} s","min":"0.001","max":10,"step":"0.001","x":540,"y":400,"wires":[["52697597.37362c"]]},{"id":"5e19c6b8.03f02","type":"ui_gauge","z":"351c08c.4747ff8","name":"","group":"9f066813.a7cf88","order":8,"width":6,"height":5,"gtype":"compass","title":"Input","label":"V","format":"{{value | number:2}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":380,"wires":[]},{"id":"344c589f.effe1","type":"ui_gauge","z":"351c08c.4747ff8","name":"","group":"75872a4e.4a96cc","order":1,"width":6,"height":6,"gtype":"gage","title":"Output","label":"A","format":"{{value | number:2}}","min":"0","max":"8","colors":["#ca3838","#00b500","#ca3838"],"seg1":"0","seg2":"3","x":1030,"y":260,"wires":[]},{"id":"8701575b.9754c","type":"ui_text","z":"47737c2a.b775ec","group":"9f066813.a7cf88","order":1,"width":6,"height":1,"name":"","label":"Time:","format":"{{msg.payload | number:3}} s","layout":"row-left","x":670,"y":120,"wires":[]},{"id":"58ddfc.ab1d4a04","type":"ui_dropdown","z":"33574ed9.45d10a","name":"","label":"Signal type","tooltip":"Choose the form of the wave","place":"Select option","group":"9f066813.a7cf88","order":3,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"DC Wave","value":0,"type":"num"},{"label":"AC Wave","value":1,"type":"num"},{"label":"Square Wave","value":2,"type":"num"},{"label":"Saw Wave (growing)","value":3,"type":"num"},{"label":"Saw Wave (reducing)","value":4,"type":"num"},{"label":"","value":5,"type":"num"}],"payload":"","topic":"","x":250,"y":80,"wires":[["8ba0d0e8.296dd"]]},{"id":"930e2433.46735","type":"ui_ui_control","z":"cdbeb3a4.9b1db","name":"","events":"change","x":780,"y":40,"wires":[[]]},{"id":"96c8eebb.adbde","type":"ui_chart","z":"5873dbc7.e32ddc","name":"","group":"930a64ca.765228","order":5,"width":0,"height":0,"label":"Harmonic Analysis","chartType":"line","legend":"false","xformat":"Ss","interpolate":"linear","nodata":"Loading data. It might take a while.","dot":false,"ymin":"-400","ymax":"0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff3500","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":260,"wires":[["c0e86d31.72321"]]},{"id":"426866b0.60d04","type":"ui_chart","z":"5873dbc7.e32ddc","name":"","group":"930a64ca.765228","order":4,"width":0,"height":0,"label":"Wave","chartType":"line","legend":"false","xformat":"auto","interpolate":"cubic","nodata":"Loading data. It might take a while.","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffbf00","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":100,"wires":[["78da24d8.5a82ac"]]},{"id":"73364468.b9e774","type":"comment","z":"5873dbc7.e32ddc","name":"FFT Analysis plot","info":"","x":100,"y":140,"wires":[]},{"id":"ba70e178.b5e6e","type":"comment","z":"351c08c.4747ff8","name":"Signal Generator Output","info":"","x":130,"y":280,"wires":[]},{"id":"d41a79ae.64f02","type":"comment","z":"351c08c.4747ff8","name":"ESP32 Output","info":"","x":90,"y":20,"wires":[]},{"id":"f5ab6ff1.938a3","type":"subflow:4dabb83d.419318","z":"351c08c.4747ff8","name":"","env":[],"x":830,"y":300,"wires":[["344c589f.effe1"]]},{"id":"a5d4bb01.71a308","type":"switch","z":"351c08c.4747ff8","name":"SignalGeneratorIsEnabled","property":"DebugSignalSource","propertyType":"global","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":300,"wires":[["f5ab6ff1.938a3"]]},{"id":"8c248ada.a471b","type":"change","z":"4dabb83d.419318","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"(converted) \"&payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":60,"wires":[[]]},{"id":"2740c857.b112c","type":"function","z":"5873dbc7.e32ddc","name":"getFreqArray","func":"let samples = global.get('FourierSampleNum') || 1024;\nlet freq = global.get('FourierSampleFreq') || 1000; // frecuencia de muestreo\nlet axis = [ 0 ];\nlet axisString = [ \"0\" ];\nlet i;\nfor (i = 0; i < samples/10; i++) {\n    if (i === 0) axis[i] = 0;\n    else axis[i] = i * freq / samples;\n    axisString[i] = (Math.round(axis[i] * 100 ) / 100 ).toString();\n}\nmsg.payload = axisString;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["3d8a1d3f.e105a2"]]},{"id":"3d8a1d3f.e105a2","type":"change","z":"5873dbc7.e32ddc","name":"SaveFreqAxis","rules":[{"t":"set","p":"FourierFreqAxis","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":440,"wires":[["7ba87e7f.d1912"]]},{"id":"734d3c46.481d9c","type":"change","z":"5873dbc7.e32ddc","name":"SaveTimeAxis","rules":[{"t":"set","p":"FourierTimeAxis","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["72414284.81a90c"]]},{"id":"583b9401.eb3a64","type":"function","z":"5873dbc7.e32ddc","name":"getTimeArray","func":"let zoom = global.get('FourierWaveZoom') || 1;\nlet freq = global.get('FourierSampleFreq') || 1000;\nlet samples = freq;\n//let samples = global.get('FourierSampleNum') || 8000;\nlet axis = [ 0 ];\nlet axisString = [ \"0\" ];\nlet i;\nfor (i = 0; i < (samples / zoom); i++) {\n    if (i === 0) axis[i] = 0;\n    else axis[i] = axis[i - 1] + (1 / freq);\n    axisString[i] = (Math.round(axis[i] * 100) / 100).toString();\n}\nmsg.payload = axisString;\nmsg.zoom = zoom;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":480,"wires":[["734d3c46.481d9c"]]},{"id":"7b53c31a.253f3c","type":"ui_dropdown","z":"5873dbc7.e32ddc","name":"","label":"Zoom","tooltip":"","place":"Select option","group":"930a64ca.765228","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"800%","value":8,"type":"num"},{"label":"400%","value":4,"type":"num"},{"label":"200%","value":2,"type":"num"},{"label":"100%","value":1,"type":"num"}],"payload":"","topic":"","x":510,"y":600,"wires":[["d23474b1.e8ad58"]]},{"id":"968f4050.4a00f","type":"change","z":"9ac9e272.2d76d","name":"SwitchSignalSource","rules":[{"t":"set","p":"DebugSignalSource","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":140,"wires":[["1808bc3a.317104"]]},{"id":"5d84625.305cd9c","type":"mqtt out","z":"9ac9e272.2d76d","name":"","topic":"esp32/enableOutput","qos":"0","retain":"false","broker":"b4d07d56.9cb5f8","x":760,"y":220,"wires":[]},{"id":"b3e8b180.27a8","type":"switch","z":"9ac9e272.2d76d","name":"","property":"DebugSignalSource","propertyType":"global","rules":[{"t":"lte","v":"1","vt":"num"},{"t":"gt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["1a653359.90d92d"],["b97e9e22.2d12e"]]},{"id":"1a653359.90d92d","type":"change","z":"9ac9e272.2d76d","name":"EnableESP32Output","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ESPoutputSet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":200,"wires":[["5d84625.305cd9c"]]},{"id":"b97e9e22.2d12e","type":"change","z":"9ac9e272.2d76d","name":"DisableESP32Output","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ESPoutputSet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["5d84625.305cd9c"]]},{"id":"898700af.62942","type":"mqtt out","z":"9ac9e272.2d76d","name":"","topic":"esp32/devMode","qos":"0","retain":"false","broker":"b4d07d56.9cb5f8","x":620,"y":300,"wires":[]},{"id":"9070934c.f1471","type":"switch","z":"9ac9e272.2d76d","name":"","property":"DebugSignalSource","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":300,"wires":[["2492947b.a583ec"],["d55c4cc3.a6c6c"]]},{"id":"2492947b.a583ec","type":"change","z":"9ac9e272.2d76d","name":"EnableDebugSignal","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ESPdevSet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[["898700af.62942"]]},{"id":"d55c4cc3.a6c6c","type":"change","z":"9ac9e272.2d76d","name":"DisableDebugSignal","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ESPdevSet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["898700af.62942"]]},{"id":"1b2769d6.b86c06","type":"ui_switch","z":"9ac9e272.2d76d","name":"","label":"Use advanced signal from ESP32","tooltip":"","group":"9275f3d1.7841c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":380,"wires":[["25b83680.45326a"]]},{"id":"e2b8b83a.51ebe8","type":"switch","z":"9ac9e272.2d76d","name":"","property":"DebugESP32Advanced","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":460,"wires":[["9fbe29e8.274378"],["93a5b9b5.a5c578"]]},{"id":"9fbe29e8.274378","type":"change","z":"9ac9e272.2d76d","name":"EnableAdvancedSignal","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ESPadvSend","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[["77f3caf8.58c544"]]},{"id":"93a5b9b5.a5c578","type":"change","z":"9ac9e272.2d76d","name":"DisableAdvancedSignal","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ESPadvSend","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["77f3caf8.58c544"]]},{"id":"77f3caf8.58c544","type":"mqtt out","z":"9ac9e272.2d76d","name":"","topic":"esp32/devModeAdvanced","qos":"0","retain":"false","broker":"b4d07d56.9cb5f8","x":670,"y":460,"wires":[]},{"id":"737067fa.dc5bd8","type":"mqtt in","z":"351c08c.4747ff8","name":"","topic":"esp32/adcBuffer","qos":"2","datatype":"auto","broker":"b4d07d56.9cb5f8","x":240,"y":60,"wires":[["4416419e.f8ce8"]]},{"id":"4416419e.f8ce8","type":"function","z":"351c08c.4747ff8","name":"constructValuesFromBytes","func":"const a = global.get(\"MeasuringAdcA\"), b = global.get(\"MeasuringAdcB\"), dec =  global.get(\"MeasuringAdcFloat\");\nlet byteArray = msg.payload;\nlet valueArray = [ 0 ];\nlet i, j = 0;\nlet realMsr;\n\nfor (i = 384; i < byteArray.length; i = i + 2) {\n    let value = 0;\n    value = (byteArray[i] << 8) + byteArray[i + 1];\n    realMsr = (value - b) / a;\n    valueArray[j] = Math.round(realMsr * Math.pow(10, dec)) / Math.pow(10, dec);\n    j++;\n}\n\nglobal.set(\"MeasuringArray\", valueArray);\nmsg.payload = valueArray;\nmsg.arrayLength = j;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":60,"wires":[["5b7e43ab.2c831c"]]},{"id":"e01c9861.2a54b8","type":"change","z":"5873dbc7.e32ddc","name":"ConvertWave2Chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [ \"Amplitude\" ],\t       \"data\": [ [payload] ],\t       \"labels\": [ xAxis ]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":60,"wires":[["426866b0.60d04"]]},{"id":"d9e7cc6f.17535","type":"change","z":"5873dbc7.e32ddc","name":"SetTimeAxis","rules":[{"t":"set","p":"xAxis","pt":"msg","to":"FourierTimeAxis","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":60,"wires":[["e01c9861.2a54b8"]]},{"id":"77dd6a26.8403d4","type":"change","z":"5873dbc7.e32ddc","name":"ConvertWave2Fourier","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"data\": [payload]\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[["23c3d791.d4f918"]]},{"id":"23c3d791.d4f918","type":"fft","z":"5873dbc7.e32ddc","input":"payload.data","singleValue":false,"fields":"data","inputType":"msg","transformType":"real","out_prefix":"","x":1030,"y":180,"wires":[["87f8c5a7.4d51a8"]]},{"id":"87f8c5a7.4d51a8","type":"change","z":"5873dbc7.e32ddc","name":"RemovePreviousData","rules":[{"t":"delete","p":"payload.data","pt":"msg"},{"t":"delete","p":"param","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":220,"wires":[["eff83d6d.fd866"]]},{"id":"eff83d6d.fd866","type":"split","z":"5873dbc7.e32ddc","name":"SplitFourierArray","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":220,"wires":[["ce0ee8ed.130378"]]},{"id":"6bbbb4f0.6a648c","type":"change","z":"5873dbc7.e32ddc","name":"SetFreqAxis","rules":[{"t":"set","p":"xAxis","pt":"msg","to":"FourierFreqAxis","tot":"global"},{"t":"set","p":"countFreq","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":260,"wires":[["983bc9b3.cb0d98"]]},{"id":"983bc9b3.cb0d98","type":"change","z":"5873dbc7.e32ddc","name":"ConvertFourier2Chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [ \"FFT\" ],\t       \"data\": [ [payload] ],\t       \"labels\": [ xAxis ]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[["96c8eebb.adbde"]]},{"id":"ce0ee8ed.130378","type":"function","z":"5873dbc7.e32ddc","name":"FillFourierArray","func":"let array = global.get('FourierArray');\nlet samples = global.get('FourierSampleNum');\n\narray.push(msg.payload);\nglobal.set('FourierArray', array);\nmsg.payload = null;\n\nif(array.length == samples) {\n    msg.payload = array;\n    global.set('FourierArrayBackup', array);\n    global.set('FourierArray', []);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["b628e8c7.b561d8"]]},{"id":"b628e8c7.b561d8","type":"switch","z":"5873dbc7.e32ddc","name":"ContinueWhenArrayIsFull","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":220,"wires":[["29af8512.6ce2ba"]]},{"id":"cde9ed9.ddb711","type":"comment","z":"5873dbc7.e32ddc","name":"Get wave form plot","info":"","x":110,"y":20,"wires":[]},{"id":"8f84fc52.d9815","type":"comment","z":"5873dbc7.e32ddc","name":"Update dashboard data","info":"","x":120,"y":560,"wires":[]},{"id":"1125fb1.4a0ee05","type":"comment","z":"5873dbc7.e32ddc","name":"Create axis values arrays","info":"","x":130,"y":400,"wires":[]},{"id":"c87e5afd.9133d8","type":"ui_text","z":"5873dbc7.e32ddc","group":"75872a4e.4a96cc","order":2,"width":0,"height":0,"name":"","label":"Estimated frequency","format":"{{msg.max}} Hz","layout":"row-spread","x":1300,"y":600,"wires":[]},{"id":"c0e86d31.72321","type":"function","z":"5873dbc7.e32ddc","name":"getFreqObject","func":"let samples = global.get('FourierSampleNum')/2;\nlet freqArray = global.get('FourierFreqAxis');\nlet fourierArray = global.get('FourierArrayBackup')||[0];\nlet array = fourierArray.slice(0, freqArray.length)\nlet max = Math.max(array) || 0;\nlet min = msg.dbAvg;\nlet maxFreq = freqArray[array.indexOf(max)];\nlet numOfFreq = 5;\n\nlet i;\nlet fftObjectArray = [ 0 ];\n\nfor(i = 0; i < freqArray.length; i++)\n{\n    let fftObject = {\n        freq: null,\n        value: null,\n        rate: null\n    }\n    \n    fftObject.freq = parseFloat(freqArray[i]);\n    fftObject.value  = array[i];\n    if(!isFinite(array[i])) fftObject.value  = array[i + 1] || array[i - 1];\n    fftObjectArray[i] = fftObject;\n}\n\nfftObjectArray.sort(function(a, b) { \n    return b.value - a.value;\n})\n\n//min = fftObjectArray[fftObjectArray.length - 1].value;\n\nfor(i = 0; i < freqArray.length; i++)\n{\n    fftObjectArray[i].rate = 100 * (1.0 - Math.abs(fftObjectArray[i].value / min));\n}\n\nglobal.set(\"FourierTopFreq\", fftObjectArray.slice(0, numOfFreq));\n\nglobal.set(\"FourierFreqObjectArray\", fftObjectArray);\n\nmsg.payload = global.get(\"FourierTopFreq\");\nmsg.max = maxFreq;\nmsg.min = min;\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":600,"wires":[["c87e5afd.9133d8","845bd4ae.16f718","84cca10e.a285a"]]},{"id":"d23474b1.e8ad58","type":"change","z":"5873dbc7.e32ddc","name":"SetZoom","rules":[{"t":"set","p":"FourierWaveZoom","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":600,"wires":[[]]},{"id":"59da6628.8b2d78","type":"file in","z":"8ed25156.e8f81","name":"ReadFile","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":120,"y":380,"wires":[["85ae27e.63c17d8"]]},{"id":"a0488a71.c0c018","type":"inject","z":"8ed25156.e8f81","name":"Trigger 5s","topic":"","payload":"SignalFromFile","payloadType":"global","repeat":"8","crontab":"","once":true,"onceDelay":"5","x":110,"y":320,"wires":[["b4c59c7b.b0a74"]]},{"id":"85ae27e.63c17d8","type":"split","z":"8ed25156.e8f81","name":"SplitLines","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":280,"y":380,"wires":[["763674f6.98df0c"]]},{"id":"763674f6.98df0c","type":"join","z":"8ed25156.e8f81","name":"CreateArray","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":380,"wires":[["4546dd8d.594dd4"]]},{"id":"4546dd8d.594dd4","type":"function","z":"8ed25156.e8f81","name":"constructValuesFromBytes","func":"const a = global.get(\"MeasuringAdcA\"), b = global.get(\"MeasuringAdcB\"), dec =  global.get(\"MeasuringAdcFloat\");\nlet byteArray = msg.payload;\nlet samples = global.get('FourierSampleNum');\nlet valueArray = [ 0 ];\nlet numSecond = global.get('FileSecondCounter');\nlet simLength = global.get('FileSimLength');\nlet i, j = 0;\nlet realMsr;\n\nfor (i = (samples * (numSecond - 1)); i < (samples * numSecond); i++) {\n    let value = 0;\n    value = parseInt(byteArray[i], 16);\n    realMsr = (value - b) / a;\n    valueArray[j] = Math.round(realMsr * Math.pow(10, dec)) / Math.pow(10, dec);\n    j++;\n}\n\nif(numSecond < simLength ) numSecond++;\nelse numSecond = 1;\nglobal.set('FileSecondCounter', numSecond);\n\n//msg.status = ({fill:\"red\",shape:\"ring\",text:\"t = \" + numSecond + \" s\"});\n\nglobal.set(\"MeasuringArray\", valueArray);\nmsg.payload = valueArray;\nmsg.arrayLength = j;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":380,"wires":[[]]},{"id":"b4c59c7b.b0a74","type":"switch","z":"8ed25156.e8f81","name":"IfSignalFromFileIsEnabled","property":"DebugSignalSource","propertyType":"global","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":320,"wires":[["fef4332.0736fd"]]},{"id":"1bc85383.45e79c","type":"ui_form","z":"8ed25156.e8f81","name":"","label":"Directories","group":"21b66fa1.30165","order":1,"width":"0","height":"0","options":[{"label":"Ir path","value":"irPath","type":"text","required":true,"rows":null},{"label":"Is path","value":"isPath","type":"text","required":true,"rows":null},{"label":"It path","value":"itPath","type":"text","required":true,"rows":null}],"formValue":{"irPath":"","isPath":"","itPath":""},"payload":"","submit":"Save","cancel":"","topic":"","x":410,"y":60,"wires":[["492b65c8.6ad18c"]]},{"id":"fef4332.0736fd","type":"change","z":"8ed25156.e8f81","name":"GetPathFromForm","rules":[{"t":"set","p":"filename","pt":"msg","to":"FileCurrentPath","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":320,"wires":[["59da6628.8b2d78"]]},{"id":"d336e7c3.26c908","type":"ui_dropdown","z":"8ed25156.e8f81","name":"","label":"Show current signal","tooltip":"","place":"Select option","group":"21b66fa1.30165","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"R","value":"R","type":"str"},{"label":"S","value":"S","type":"str"},{"label":"T","value":"T","type":"str"}],"payload":"","topic":"","x":490,"y":180,"wires":[["b7db8f76.a62f3"]]},{"id":"492b65c8.6ad18c","type":"change","z":"8ed25156.e8f81","name":"StoreSignalPath","rules":[{"t":"set","p":"FileDirectories","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":60,"wires":[["c08866e6.225138"]]},{"id":"4a73cc8b.6a7074","type":"change","z":"8ed25156.e8f81","name":"SetPathFromR","rules":[{"t":"set","p":"FileCurrentPath","pt":"global","to":"FileDirectories.irPath","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[[]]},{"id":"b7db8f76.a62f3","type":"switch","z":"8ed25156.e8f81","name":"GetPhaseFromDropdown","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"R","vt":"str"},{"t":"eq","v":"S","vt":"str"},{"t":"eq","v":"T","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":720,"y":180,"wires":[["4a73cc8b.6a7074"],["d410b4c2.a3fa88"],["b5f5258c.d5aa28"]]},{"id":"d410b4c2.a3fa88","type":"change","z":"8ed25156.e8f81","name":"SetPathFromS","rules":[{"t":"set","p":"FileCurrentPath","pt":"global","to":"FileDirectories.isPath","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":180,"wires":[[]]},{"id":"b5f5258c.d5aa28","type":"change","z":"8ed25156.e8f81","name":"SetPathFromT","rules":[{"t":"set","p":"FileCurrentPath","pt":"global","to":"FileDirectories.itPath","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":220,"wires":[[]]},{"id":"d109301f.d3f93","type":"comment","z":"8ed25156.e8f81","name":"Set signal file path","info":"","x":110,"y":20,"wires":[]},{"id":"bd5e120b.c7009","type":"comment","z":"8ed25156.e8f81","name":"Set phase","info":"","x":80,"y":140,"wires":[]},{"id":"b389e487.412838","type":"comment","z":"8ed25156.e8f81","name":"Get array from file","info":"","x":110,"y":280,"wires":[]},{"id":"5b7e43ab.2c831c","type":"switch","z":"351c08c.4747ff8","name":"IfEspInputDisabled","property":"DebugSignalSource","propertyType":"global","rules":[{"t":"lte","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":60,"wires":[[]]},{"id":"aa983e5c.5a20a","type":"function","z":"5873dbc7.e32ddc","name":"bin2db","func":"const dec =  global.get(\"adc_float\");\n// let fft_array = msg.payload;\nlet fft_array = msg.fftAbs;\nlet db_array = [ 0, 0 ];\n//let fft_max = Math.abs(Math.max.apply(null, fft_array));\nlet fft_max = msg.fftmax;\nlet i, length = fft_array.length;\n\nfor (i = 0; i < length; i++) {\n    //db_array[i] = 20 * Math.log((Math.abs(fft_array[i]) / fft_max), 10);\n    db_array[i] = 20 * Math.log((fft_array[i] / fft_max), 10);\n    if (isNaN(db_array[i])) {\n        db_array[i] = 20 * Math.log((0.01 / fft_max), 10);\n    }\n}\n\nglobal.set('FourierArrayBackup', db_array);\nmsg.payload = db_array;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["afd1eaa6.6e2248"]]},{"id":"130f1a47.04f606","type":"split","z":"351c08c.4747ff8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":580,"wires":[["3f35e66e.dd4fca"]]},{"id":"d9a2ab15.18c0d8","type":"delay","z":"351c08c.4747ff8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"8000","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":470,"y":620,"wires":[[]]},{"id":"29af8512.6ce2ba","type":"switch","z":"5873dbc7.e32ddc","name":"","property":"FourierUseDB","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":260,"wires":[["afd1eaa6.6e2248"],["d8d7ea32.7866c8"]]},{"id":"7ee0181f.346818","type":"ui_button","z":"5873dbc7.e32ddc","name":"","group":"930a64ca.765228","order":1,"width":7,"height":1,"passthru":true,"label":"Analize now","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MeasuringArray","payloadType":"global","topic":"","x":270,"y":60,"wires":[["d9e7cc6f.17535"]]},{"id":"dc6c9d8d.89ce8","type":"ui_button","z":"5873dbc7.e32ddc","name":"","group":"226c8cf5.d345a4","order":7,"width":3,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":120,"y":640,"wires":[["a8da34f6.f33d78"]]},{"id":"c82bb1ca.577ad","type":"ui_ui_control","z":"5873dbc7.e32ddc","name":"","events":"all","x":280,"y":720,"wires":[[]]},{"id":"6e6ae503.07fc7c","type":"ui_button","z":"5873dbc7.e32ddc","name":"","group":"930a64ca.765228","order":3,"width":7,"height":1,"passthru":false,"label":"Go back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Monitoring\"}","payloadType":"json","topic":"","x":120,"y":720,"wires":[["c82bb1ca.577ad"]]},{"id":"3f35e66e.dd4fca","type":"switch","z":"351c08c.4747ff8","name":"","property":"MeasuringIsOn","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":580,"wires":[["d9a2ab15.18c0d8"]]},{"id":"e7788d86.1061a","type":"complete","z":"5873dbc7.e32ddc","name":"","scope":["7b53c31a.253f3c"],"uncaught":false,"x":270,"y":100,"wires":[["9c677cb2.2ba0b"]]},{"id":"e2ce3791.6062c8","type":"ui_ui_control","z":"9ac9e272.2d76d","name":"","events":"all","x":660,"y":780,"wires":[["d4ed265d.14f168"]]},{"id":"d4ed265d.14f168","type":"ui_text","z":"9ac9e272.2d76d","group":"e49d5127.e8b58","order":1,"width":0,"height":0,"name":"","label":"Initializing...","format":"","layout":"row-spread","x":810,"y":780,"wires":[]},{"id":"5061e089.e052a","type":"function","z":"29204bfe.5021f4","name":"SetAdcProperties","func":"let a = env.get(\"a\");\nlet b = env.get(\"b\");\nlet float = env.get(\"float_dec\");\nlet status;\n\nglobal.set(\"MeasuringAdcA\", a);\nglobal.set(\"MeasuringAdcB\", b);\nglobal.set(\"MeasuringAdcFloat\", float);\n\nstatus = \"y = \" + a + \" x + \" + b;\n\nmsg.payload = status;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[[]]},{"id":"7592b8de.3601b8","type":"function","z":"b3e0ebcd.1462c8","name":"SetFourierProperties","func":"let array = [ 0 ];\nlet useDb = env.get(\"UseDb\");\nlet sampleFreq = env.get(\"SampleFreq\");\nlet sampleNum = env.get(\"SampleNum\");\nlet waveZoom = env.get(\"WaveZoom\");\n\nlet status = \"Done\";\n\nglobal.set(\"FourierArray\", array);\nglobal.set(\"FourierUseDB\", useDb);\nglobal.set(\"FourierSampleFreq\", sampleFreq);\nglobal.set(\"FourierSampleNum\", sampleNum);\nglobal.set(\"FourierWaveZoom\", waveZoom);\n\n// status = global.get(\"FourierWaveZoom\");\n\nmsg.payload = status;\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":80,"wires":[[]]},{"id":"1c3e9f82.2c7f8","type":"complete","z":"5873dbc7.e32ddc","name":"","scope":["734d3c46.481d9c"],"uncaught":false,"x":90,"y":440,"wires":[["2740c857.b112c"]]},{"id":"b28455ca.808008","type":"function","z":"9931390c.6bcd08","name":"setDebugProperties","func":"let sourceText;\nlet defaultSource = env.get(\"DefaultSource\");\n// ESP32 ADC        0\n// ESP32 DEBUG      1\n// Signal Generator 2\n// File             3\n\nlet esp32mode = env.get(\"Esp32Mode\");\n\nglobal.set(\"DebugSignalSource\", defaultSource);\nglobal.set(\"DebugESP32Advanced\", esp32mode);\nglobal.set(\"MeasuringArrayIndex\", 0);\n\nswitch(defaultSource) {\n    case \"0\": sourceText = \"ESP32 ADC\"; break;\n    case \"1\": sourceText = \"ESP32 DEBUG\"; break;\n    case \"2\": sourceText = \"Signal Generator\"; break;\n    case \"3\": sourceText = \"File\"; break;\n    default: msg.payload = \"Error\"; return msg;\n}\n\nmsg.payload = \"Done; \" + sourceText;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[[]]},{"id":"4a0ca768.1fa598","type":"subflow:9931390c.6bcd08","z":"9ac9e272.2d76d","name":"","env":[{"name":"DefaultSource","value":"3","type":"str"}],"x":310,"y":80,"wires":[]},{"id":"65f14bd9.ed5ba4","type":"inject","z":"9ac9e272.2d76d","name":"Trigger 0.5s","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":110,"y":80,"wires":[["4a0ca768.1fa598"]]},{"id":"f97c379a.228fb8","type":"ui_dropdown","z":"9ac9e272.2d76d","name":"","label":"Signal source","tooltip":"","place":"Select option","group":"9275f3d1.7841c","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"ESP32 ADC","value":0,"type":"num"},{"label":"ESP32 Debug","value":1,"type":"num"},{"label":"Signal Generator","value":2,"type":"num"},{"label":"File","value":3,"type":"num"}],"payload":"","topic":"","x":520,"y":140,"wires":[["968f4050.4a00f"]]},{"id":"fe2ffc75.d400f","type":"change","z":"9ac9e272.2d76d","name":"SetDefaultSource","rules":[{"t":"set","p":"payload","pt":"msg","to":"DebugSignalSource","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["f97c379a.228fb8"]]},{"id":"fa691e7f.d668b","type":"complete","z":"9ac9e272.2d76d","name":"","scope":["fe2ffc75.d400f"],"uncaught":false,"x":90,"y":220,"wires":[["e31417fe.264048"]]},{"id":"246f34b0.02f81c","type":"complete","z":"9ac9e272.2d76d","name":"","scope":["1a653359.90d92d"],"uncaught":false,"x":90,"y":280,"wires":[["9070934c.f1471"]]},{"id":"918e47d3.b204c8","type":"complete","z":"9ac9e272.2d76d","name":"","scope":["2492947b.a583ec"],"uncaught":false,"x":90,"y":360,"wires":[["6c56c04e.7e258"]]},{"id":"6c56c04e.7e258","type":"change","z":"9ac9e272.2d76d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"DebugESP32Advanced","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"ESPadvSet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":380,"wires":[["1b2769d6.b86c06"]]},{"id":"25b83680.45326a","type":"change","z":"9ac9e272.2d76d","name":"SetAdvancedSignalStatus","rules":[{"t":"set","p":"DebugESP32Advanced","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":380,"wires":[[]]},{"id":"384c6658.269a4a","type":"complete","z":"9ac9e272.2d76d","name":"","scope":["25b83680.45326a"],"uncaught":false,"x":90,"y":460,"wires":[["e2b8b83a.51ebe8"]]},{"id":"3c4514d.0f85dec","type":"ui_button","z":"9ac9e272.2d76d","name":"","group":"e49d5127.e8b58","order":1,"width":0,"height":0,"passthru":false,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Monitoring\"}","payloadType":"json","topic":"","x":530,"y":780,"wires":[["e2ce3791.6062c8"]]},{"id":"f520e22.2490f2","type":"change","z":"9ac9e272.2d76d","name":"SetButtonText","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":780,"wires":[["3c4514d.0f85dec"]]},{"id":"7e753683.3100f8","type":"inject","z":"9ac9e272.2d76d","name":"","topic":"Please wait...","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":780,"wires":[["f520e22.2490f2"]]},{"id":"683724f9.eac5ec","type":"inject","z":"9ac9e272.2d76d","name":"","topic":"Continue","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"4","x":120,"y":840,"wires":[["f520e22.2490f2","37a62727.9ea348"]]},{"id":"a3707bda.91c9e8","type":"subflow:b3e0ebcd.1462c8","z":"9ac9e272.2d76d","name":"","env":[],"x":500,"y":540,"wires":[]},{"id":"6538f30b.0c50fc","type":"complete","z":"9ac9e272.2d76d","name":"","scope":["9fbe29e8.274378"],"uncaught":false,"x":90,"y":620,"wires":[["529fd999.973638"]]},{"id":"5e22fa57.ab9794","type":"inject","z":"9ac9e272.2d76d","name":"Trigger 0.8s","topic":"SignalSourceSet","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.8","x":110,"y":140,"wires":[["fe2ffc75.d400f"]]},{"id":"80604691.7d6168","type":"complete","z":"9ac9e272.2d76d","name":"","scope":["b97e9e22.2d12e"],"uncaught":false,"x":90,"y":320,"wires":[["9070934c.f1471"]]},{"id":"da091860.6f7338","type":"complete","z":"9ac9e272.2d76d","name":"","scope":["d55c4cc3.a6c6c"],"uncaught":false,"x":90,"y":400,"wires":[["6c56c04e.7e258"]]},{"id":"402eca29.bc6014","type":"complete","z":"9ac9e272.2d76d","name":"","scope":["93a5b9b5.a5c578"],"uncaught":false,"x":90,"y":660,"wires":[["529fd999.973638"]]},{"id":"b4231147.f1a5e","type":"subflow:29204bfe.5021f4","z":"9ac9e272.2d76d","name":"","env":[],"x":670,"y":600,"wires":[]},{"id":"4b5b7966.e072b8","type":"delay","z":"9ac9e272.2d76d","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":600,"wires":[["b4231147.f1a5e"]]},{"id":"fc44be2d.12cb1","type":"delay","z":"9ac9e272.2d76d","name":"","pauseType":"delay","timeout":"0.75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":660,"wires":[["bf6f50a8.a9fcd"]]},{"id":"529fd999.973638","type":"change","z":"9ac9e272.2d76d","name":"StartFlowInit","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":660,"wires":[["a3707bda.91c9e8","4b5b7966.e072b8","fc44be2d.12cb1","6c5de036.3358e"]]},{"id":"1316a90b.4357e7","type":"inject","z":"9ac9e272.2d76d","name":"Trigger 0.1s","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":20,"wires":[["29bcd41e.bb4c6c"]]},{"id":"29bcd41e.bb4c6c","type":"change","z":"9ac9e272.2d76d","name":"DisableMeasuring","rules":[{"t":"set","p":"MeasuringIsOn","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":20,"wires":[[]]},{"id":"37a62727.9ea348","type":"change","z":"9ac9e272.2d76d","name":"EnableMeasuring","rules":[{"t":"set","p":"MeasuringIsOn","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":840,"wires":[[]]},{"id":"1808bc3a.317104","type":"debug","z":"9ac9e272.2d76d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":140,"wires":[]},{"id":"e31417fe.264048","type":"ui_button","z":"9ac9e272.2d76d","name":"","group":"9275f3d1.7841c","order":3,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":240,"y":220,"wires":[["b3e8b180.27a8"]]},{"id":"a8da34f6.f33d78","type":"change","z":"5873dbc7.e32ddc","name":"SetDefaultZoomLevel","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"FourierWaveZoom","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":640,"wires":[["7b53c31a.253f3c"]]},{"id":"14667722.1d8109","type":"inject","z":"9ac9e272.2d76d","name":"Trigger 2s","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"2","x":110,"y":700,"wires":[["529fd999.973638"]]},{"id":"ef4593e0.57f9d","type":"function","z":"ea64e243.fff82","name":"setFileSettings","func":"let rDefaultPath = env.get(\"rDefaultPath\");\nlet sDefaultPath = env.get(\"rDefaultPath\");\nlet tDefaultPath = env.get(\"rDefaultPath\");\n\nlet defaultPhase = env.get(\"DefaultPhase\");\n\nlet simLength = env.get(\"SimLength\");\n\nlet objectDirectories = \n{\n    \"irPath\": rDefaultPath,\n    \"isPath\": sDefaultPath,\n    \"itPath\": tDefaultPath\n}\n\nglobal.set(\"FileDirectories\", objectDirectories);\nglobal.set(\"FileCurrentPhase\", defaultPhase);\nglobal.set(\"FileSimLength\", simLength);\n\nglobal.set(\"MeasuringCurrentSpeed\", RotatingSpeed);\n\nmsg.payload = \"Done\";\n\nswitch(defaultPhase) {\n    case \"R\": global.set(\"FileCurrentPath\", objectDirectories.irPath); break;\n    case \"S\": global.set(\"FileCurrentPath\", objectDirectories.isPath); break;\n    case \"T\": global.set(\"FileCurrentPath\", objectDirectories.itPath); break;\n    default: msg.payload = \"Error: \" + defaultPhase; global.set(\"FileCurrentPath\", null); break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"ee80cf04.d701","type":"ui_button","z":"9ac9e272.2d76d","name":"","group":"9275f3d1.7841c","order":4,"width":0,"height":0,"passthru":false,"label":"Default path","tooltip":"","color":"","bgcolor":"","icon":"folder_open","payload":"true","payloadType":"bool","topic":"","x":810,"y":720,"wires":[["bf6f50a8.a9fcd"]]},{"id":"bf6f50a8.a9fcd","type":"subflow:ea64e243.fff82","z":"9ac9e272.2d76d","name":"","env":[{"name":"rDefaultPath","value":"/home/pi/TFM/signals/sim_esp.txt","type":"str"}],"x":710,"y":660,"wires":[]},{"id":"715a94c7.df740c","type":"link out","z":"9ac9e272.2d76d","name":"DebugSendDefaultDirectoriesToFile","links":["82cb5a98.8f5ce8"],"x":615,"y":720,"wires":[]},{"id":"82cb5a98.8f5ce8","type":"link in","z":"8ed25156.e8f81","name":"FileSetDefaultDirectories","links":["715a94c7.df740c"],"x":55,"y":60,"wires":[["dc1c025f.3f4fd"]]},{"id":"dc1c025f.3f4fd","type":"change","z":"8ed25156.e8f81","name":"GetDefaultDirectories","rules":[{"t":"set","p":"payload","pt":"msg","to":"FileDirectories","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":60,"wires":[["1bc85383.45e79c"]]},{"id":"c08866e6.225138","type":"change","z":"8ed25156.e8f81","name":"GetDefaultPhase","rules":[{"t":"set","p":"payload","pt":"msg","to":"FileCurrentPhase","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":180,"wires":[["d336e7c3.26c908"]]},{"id":"6c5de036.3358e","type":"delay","z":"9ac9e272.2d76d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":720,"wires":[["715a94c7.df740c"]]},{"id":"6db39524.1cb30c","type":"link in","z":"351c08c.4747ff8","d":true,"name":"FileAdcOutput","links":["ea3306bf.09ae38"],"x":195,"y":580,"wires":[["130f1a47.04f606"]]},{"id":"78da24d8.5a82ac","type":"change","z":"5873dbc7.e32ddc","name":"GetMeasuringArray","rules":[{"t":"set","p":"payload","pt":"msg","to":"MeasuringArray","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":180,"wires":[["f6ef4947.09bd38"]]},{"id":"48b33b9b.676d94","type":"complete","z":"5873dbc7.e32ddc","name":"","scope":["d23474b1.e8ad58"],"uncaught":false,"x":90,"y":60,"wires":[["7ee0181f.346818"]]},{"id":"c5e9d87f.d76168","type":"complete","z":"5873dbc7.e32ddc","name":"","scope":["d23474b1.e8ad58"],"uncaught":false,"x":90,"y":480,"wires":[["583b9401.eb3a64"]]},{"id":"72414284.81a90c","type":"debug","z":"5873dbc7.e32ddc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zoom","targetType":"msg","x":710,"y":480,"wires":[]},{"id":"1c903c61.cfdce4","type":"function","z":"5873dbc7.e32ddc","name":"Filter (/avg)","func":"let avg = msg.avg;\nlet array = msg.payload;\n\nlet i;\n\nfor (i = 0; i < array.length; i++) {\n     array[i] = array[i] - avg;\n}\n\nmsg.payload = array;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["77dd6a26.8403d4"]]},{"id":"f6ef4947.09bd38","type":"calculator","z":"5873dbc7.e32ddc","name":"","inputMsgField":"payload","outputMsgField":"avg","operation":"avg","constant":"","round":false,"decimals":0,"x":480,"y":180,"wires":[["1c903c61.cfdce4"]]},{"id":"67ca3839.337a78","type":"inject","z":"351c08c.4747ff8","name":"Trigger (0.05 s)","topic":"","payload":"true","payloadType":"bool","repeat":"0.05","crontab":"","once":true,"onceDelay":"6","x":240,"y":220,"wires":[["e395c425.f3f378"]]},{"id":"e395c425.f3f378","type":"function","z":"351c08c.4747ff8","name":"getMeanArray","func":"let measuringArray = global.get(\"MeasuringArray\") || [ 0 ];\nlet index = global.get(\"MeasuringArrayIndex\") || 0;\nlet meanArrayLength = 50;\n\nmsg.payload = measuringArray.slice(index - meanArrayLength, index);\n\nindex += meanArrayLength;\n\nif(index >= measuringArray.length) index = meanArrayLength;\n\nglobal.set(\"MeasuringArrayIndex\", index);\n\nif(global.get(\"MeasuringIsOn\")) return msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["c8529b97.65d768"]]},{"id":"afd1eaa6.6e2248","type":"calculator","z":"5873dbc7.e32ddc","name":"","inputMsgField":"payload","outputMsgField":"max","operation":"max","constant":"","round":false,"decimals":0,"x":320,"y":300,"wires":[["806dfba2.2eec18"]]},{"id":"7ba87e7f.d1912","type":"debug","z":"5873dbc7.e32ddc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":440,"wires":[]},{"id":"806dfba2.2eec18","type":"calculator","z":"5873dbc7.e32ddc","name":"","inputMsgField":"payload","outputMsgField":"dbAvg","operation":"avg","constant":"","round":false,"decimals":0,"x":460,"y":300,"wires":[["6bbbb4f0.6a648c"]]},{"id":"4d060613.f2d968","type":"ui_chart","z":"5873dbc7.e32ddc","name":"","group":"930a64ca.765228","order":6,"width":20,"height":7,"label":"Top frequencies","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":680,"wires":[["116ee35b.ecfd5d"]]},{"id":"845bd4ae.16f718","type":"change","z":"5873dbc7.e32ddc","name":"ConvertTopFreq2Chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [[ ]],\t       \"data\": [[ payload.rate ]],\t       \"labels\": [ payload.freq ]\t   }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":640,"wires":[["4d060613.f2d968"]]},{"id":"7975f39.3c0ba0c","type":"ui_button","z":"5873dbc7.e32ddc","name":"","group":"226c8cf5.d345a4","order":8,"width":3,"height":1,"passthru":false,"label":"Show graphs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Analisys\"}","payloadType":"json","topic":"","x":110,"y":680,"wires":[["c82bb1ca.577ad","a8da34f6.f33d78"]]},{"id":"49a1ea1.6508c14","type":"ui_toast","z":"5873dbc7.e32ddc","position":"dialog","displayTime":"60","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":630,"y":900,"wires":[[]]},{"id":"fb1c245b.1493f8","type":"inject","z":"5873dbc7.e32ddc","name":"Test notification","topic":"Potential failure detected","payload":"One or more failure frequencies have been detected.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":900,"wires":[["49a1ea1.6508c14"]]},{"id":"7e35c553.734cec","type":"complete","z":"5873dbc7.e32ddc","name":"","scope":["845bd4ae.16f718"],"uncaught":false,"x":120,"y":820,"wires":[["c23d2feb.6e5cd"]]},{"id":"c23d2feb.6e5cd","type":"function","z":"5873dbc7.e32ddc","name":"FindFailure","func":"let freqObject = global.get(\"FourierTopFreq\");\nmsg.show = false;\nmsg.ledStatus = \"OK\";\n\nlet messageFail = \"One or more failure frequencies have been detected.\";\nlet topicFail = \"Failure detected\";\n\nlet messageSuspect = \"One or more frequencies are reaching high values.\";\nlet topicSuspect = \"Potential failure detected\";\n\nlet failThreshold = -100; // -45\nlet suspectThreshold = -110; // -55\n\nlet i, fail = 0, suspect = 0;\n\nfor(i = 0; i < freqObject.length; i++)\n{\n    if(freqObject[i].value > failThreshold) fail++;\n    if(freqObject[i].value > suspectThreshold) suspect++;\n}\n\nif(fail > 1 || suspect > 1)\n{\n    if(fail < suspect) {\n        msg.payload = messageFail;\n        msg.topic = topicFail;\n        msg.ledStatus = \"ADVISE\";\n    }\n    else {\n        msg.payload = messageSuspect;\n        msg.topic = topicSuspect;\n        msg.ledStatus = \"FAIL\";\n    }\n    msg.show = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[["76205ba1.ce3044","5313dbf.a363e24"]]},{"id":"76205ba1.ce3044","type":"switch","z":"5873dbc7.e32ddc","name":"","property":"show","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":860,"wires":[[]]},{"id":"c8529b97.65d768","type":"calculator","z":"351c08c.4747ff8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","round":true,"decimals":"2","x":860,"y":220,"wires":[["344c589f.effe1"]]},{"id":"a87b63.4191b4a","type":"ui_text","z":"5873dbc7.e32ddc","group":"226c8cf5.d345a4","order":5,"width":6,"height":1,"name":"","label":"Slip","format":"{{msg.slide | number: 2}}%","layout":"row-spread","x":1310,"y":680,"wires":[]},{"id":"116ee35b.ecfd5d","type":"function","z":"5873dbc7.e32ddc","name":"getSlideAndFreqs","func":"let nm = global.get(\"MeasuringCurrentSpeed\");\nlet ns = 3000;\n\nlet topFreq = global.get(\"FourierTopFreq\");\n\nlet f0 = msg.max;\n\nlet s = (ns - nm) / ns;\nlet sp = s * 100;\n\nlet f1 = Math.round(f0 * (1 - 2 * s) * 100) / 100;\nlet f2 = Math.round(f0 * (1 + 2 * s) * 100) / 100;\n\nmsg.slide = sp;\n\nmsg.failfreqs = [ f1, f2 ];\n\nmsg.speed = nm;\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":720,"wires":[["a87b63.4191b4a","7d68faaa.8da654","bde0534a.83e3"]]},{"id":"7d68faaa.8da654","type":"ui_text","z":"5873dbc7.e32ddc","group":"226c8cf5.d345a4","order":6,"width":6,"height":1,"name":"","label":"Estimated failure frequencies","format":"{{msg.failfreqs}} Hz","layout":"row-spread","x":1380,"y":720,"wires":[]},{"id":"80534eba.db32e","type":"inject","z":"5873dbc7.e32ddc","name":"","topic":"","payload":"FourierWaveZoom","payloadType":"global","repeat":"60","crontab":"","once":true,"onceDelay":"32","x":180,"y":600,"wires":[["7b53c31a.253f3c"]]},{"id":"9c677cb2.2ba0b","type":"change","z":"5873dbc7.e32ddc","name":"resetChart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[ ]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":100,"wires":[["426866b0.60d04"]]},{"id":"32da066b.cb19ea","type":"change","z":"5873dbc7.e32ddc","name":"resetChart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[ ]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":300,"wires":[["96c8eebb.adbde"]]},{"id":"e4f1b402.602808","type":"complete","z":"5873dbc7.e32ddc","name":"","scope":["9c677cb2.2ba0b"],"uncaught":false,"x":630,"y":300,"wires":[["32da066b.cb19ea"]]},{"id":"7d344bc6.8238e4","type":"calculator","z":"5873dbc7.e32ddc","name":"","inputMsgField":"payload","outputMsgField":"fftmax","operation":"max","constant":"","round":false,"decimals":0,"x":100,"y":340,"wires":[["aa983e5c.5a20a"]]},{"id":"d8d7ea32.7866c8","type":"calculator","z":"5873dbc7.e32ddc","name":"","inputMsgField":"payload","outputMsgField":"fftAbs","operation":"abs","constant":"","round":false,"decimals":0,"x":120,"y":300,"wires":[["7d344bc6.8238e4"]]},{"id":"cb43898b.58b328","type":"inject","z":"5873dbc7.e32ddc","name":"getDBentry","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1000,"wires":[["7b17d9e3.c674c8","4ec9f360.15c6ac"]]},{"id":"7b17d9e3.c674c8","type":"function","z":"5873dbc7.e32ddc","name":"constructJsonFile","func":"let data = global.get(\"FourierFreqObjectArray\");\nlet d = new Date (msg.payload);\n\nmsg.payload = {\n    time: d.toJSON(),\n    data: data\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["9029947b.8a4c48"]]},{"id":"945656da.c70c18","type":"debug","z":"5873dbc7.e32ddc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":960,"wires":[]},{"id":"9340833f.2ef74","type":"ui_toast","z":"5873dbc7.e32ddc","position":"bottom right","displayTime":"3","highlight":"#00FF88","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":550,"y":1040,"wires":[]},{"id":"4ec9f360.15c6ac","type":"change","z":"5873dbc7.e32ddc","name":"SetNotificationText","rules":[{"t":"set","p":"payload","pt":"msg","to":"Storing data...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1040,"wires":[["9340833f.2ef74"]]},{"id":"8a57c2c6.29884","type":"file","z":"5873dbc7.e32ddc","name":"","filename":"/home/pi/TFM/database/storage.json","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":790,"y":1000,"wires":[[]]},{"id":"9029947b.8a4c48","type":"json","z":"5873dbc7.e32ddc","name":"","property":"payload","action":"str","pretty":true,"x":510,"y":1000,"wires":[["945656da.c70c18","8a57c2c6.29884"]]},{"id":"29214307.db528c","type":"ui_led","z":"5873dbc7.e32ddc","group":"226c8cf5.d345a4","order":1,"width":6,"height":1,"label":"OK","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"green","value":"OK","valueType":"str"}],"allowColorForValueInMessage":false,"name":"greenBrokenBar","x":800,"y":700,"wires":[]},{"id":"e6876549.bc7368","type":"ui_led","z":"5873dbc7.e32ddc","group":"226c8cf5.d345a4","order":2,"width":6,"height":1,"label":"Failure risk","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"yellow","value":"ADVISE","valueType":"str"}],"allowColorForValueInMessage":false,"name":"yellowBrokenBar","x":810,"y":740,"wires":[]},{"id":"d736c374.47c57","type":"ui_led","z":"5873dbc7.e32ddc","group":"226c8cf5.d345a4","order":3,"width":6,"height":1,"label":"FAILING","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"red","value":"FAIL","valueType":"str"}],"allowColorForValueInMessage":false,"name":"redBrokenBar","x":800,"y":780,"wires":[]},{"id":"5313dbf.a363e24","type":"change","z":"5873dbc7.e32ddc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ledStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":820,"wires":[["29214307.db528c","e6876549.bc7368","d736c374.47c57","1c782f95.4d4ac","723bf98b.066578"]]},{"id":"1c782f95.4d4ac","type":"mqtt out","z":"5873dbc7.e32ddc","name":"","topic":"esp32/motorStatus","qos":"2","retain":"true","broker":"b4d07d56.9cb5f8","x":810,"y":860,"wires":[]},{"id":"d5fb6d10.302eb","type":"ui_text","z":"5873dbc7.e32ddc","group":"226c8cf5.d345a4","order":4,"width":6,"height":2,"name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":970,"y":820,"wires":[]},{"id":"723bf98b.066578","type":"function","z":"5873dbc7.e32ddc","name":"setStatusText","func":"let status = msg.payload;\n\nswitch(status) {\n    case \"OK\":\n        msg.payload = \"Failure frequencies are not relevant. Status is OK.\";\n        break;\n    case \"ADVISE\": \n        msg.payload = \"Failure frequencies are getting high. Motor is likely to fail.\"\n        break;\n    default:\n        msg.payload = \"Fail frequencies are reaching critical values. Motor IS FAILING.\"\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":820,"wires":[["d5fb6d10.302eb"]]},{"id":"bde0534a.83e3","type":"ui_text","z":"5873dbc7.e32ddc","group":"75872a4e.4a96cc","order":2,"width":0,"height":0,"name":"","label":"Estimated rotating speed","format":"{{msg.speed}} rpm","layout":"row-spread","x":1370,"y":760,"wires":[]},{"id":"4623100b.d4f17","type":"comment","z":"351c08c.4747ff8","name":"Show triggered mean value of current in dashboard","info":"","x":210,"y":180,"wires":[]},{"id":"8fe48296.5f7dd","type":"comment","z":"5873dbc7.e32ddc","name":"JSON storage","info":"","x":90,"y":960,"wires":[]},{"id":"84cca10e.a285a","type":"debug","z":"5873dbc7.e32ddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"max","targetType":"msg","x":1290,"y":500,"wires":[]},{"id":"599e8746.05a588","type":"mqtt in","z":"351c08c.4747ff8","name":"","topic":"esp32/speedOutput","qos":"2","datatype":"auto","broker":"b4d07d56.9cb5f8","x":250,"y":120,"wires":[["27d79f9d.75a3f"]]},{"id":"27d79f9d.75a3f","type":"function","z":"351c08c.4747ff8","name":"getCurrentSpeed","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["df732983.f45c68"]]},{"id":"df732983.f45c68","type":"change","z":"351c08c.4747ff8","name":"SetCurrentSpeed","rules":[{"t":"set","p":"MeasuringCurrentSpeed","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":120,"wires":[[]]}]